.newsreader {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
body {
    font-size: 1rem;
    
}
nav {
    border: 2px solid black;
    text-decoration: none;
    min-width: none;
}
.links {
    text-decoration: none;
    color: black;
    display: block;
    padding: 0.6rem 0 1rem 1rem ;
    border: 1px solid black;
}  
a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
.title-nav {
    text-align: center;
    padding: 0.5rem;
}
main {
   margin: 2rem ;
   line-height: 1.8;
}
li {
    padding-top: 1rem;
}
figure {
  background-color: rgb(226, 221, 221);
  padding: 2rem;
  border-radius: 10px;
  margin: 0;
  margin-right: 0;
}

@media (min-width: 621px) {

body {
   display: flex;
}
nav {
    position: fixed;
    height: 100%;
    overflow: auto;
    min-width: 300px;
}
main {
    font-size: 1rem;
    margin-left: 350px;
   
}

}   
@media (max-width: 620px) {
    nav {
        overflow-y: auto;
        height: 300px;
    }
    main {
        line-height: 1.8;
    }
}